<div class="simple-calendar">
  <div class="card-body calendar-heading text-center bg-dark bg-gradient mt-2">
    <%= link_to calendar.url_for_previous_view, class: "btn btn-primary" do %>
      <i class="bi bi-chevron-double-left"></i>
    <% end %>
    <span class="fw-bold fs-4 px-5 align-middle text-white calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to calendar.url_for_next_view, class: "btn btn-primary" do %>
      <i class="bi bi-chevron-double-right"></i>
    <% end %>
  </div>

  <table class="table table-bordered border-dark">
    <thead class="text-white bg-dark bg-gradient">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th scope="col"><%= t('date.day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
