<%# Disable turbolinks for this page %>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<%= calendar number_of_days: 1, events: @activities do |date, activities| %>
  <% (0..6).each do |currBlock| %>
    <% @filtered = activities.select{|a| a.block.to_s == currBlock.to_s} %>
    <% @collapseID = "blockID" + ActivityHelper::BLOCKS[currBlock].to_s.sub(/:/, '_') %>
      <% unless @filtered.empty? %>
        <div class="list-group mb-3 mx-3">
          <a href="#<%= @collapseID %>" data-bs-toggle="collapse" class="list-group-item list-group-item-active fs-5 fw-bold block-header text-center border-dark <%= ActivityHelper::GETBLOCKCLASS[currBlock] %>" aria-expanded="true" aria-controls="<%= @collapseID %>">
            <%= ActivityHelper::BLOCKS[currBlock] %>
          </a>
          <div id="<%= @collapseID %>" class="collapse show">
            <% @filtered.each do |activity| %>
              <%= link_to activity.title, activity, class: "list-group-item list-group-item-action list-group-item-secondary block-item border-dark" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>

<div class="card text-white bg-dark bg-gradient mb-3">
  <div class="card-header text-center">
  	Add Activity
  </div>
  <div class="card-body form-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>