<%= calendar number_of_days: 1, events: @activities do |date, activities| %>
  <% ActivityHelper::BLOCKS.each do |currBlock| %>
    <% @filtered = activities.select{|a| a.block.to_s == currBlock.to_s} %>
      <% unless @filtered.empty? %>
        <div class="list-group mb-3 mx-3">
          <div class="list-group-item fs-5 fw-bold block-header text-center border-dark <%= ActivityHelper::GETBLOCKCLASS[currBlock.to_s] %>">
            <%= currBlock.to_s %>
          </div>
          <% @filtered.each do |activity| %>
            <%= link_to activity.title, activity, class: "list-group-item list-group-item-action list-group-item-secondary block-item border-dark" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
<% end %>

<div class="card text-white bg-dark bg-gradient mb-3">
  <div class="card-header text-center">
  	Add Activity
  </div>
  <div class="card-body form-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>