<%# Disable turbolinks for this page %>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<%= month_calendar events: @activities do |date, activities| %>
  <a href=<%= day_view_path(:start_date => date) %> >
    <div class="date-color fw-bold fs-6 badge">
      <%= date.strftime("%e") %>
    </div>
    <% unless activities.empty? %>
      <div class="text-white fw-bold text-center bg-secondary rounded-pill me-3 ms-3">
        <%= activities.count %> activities
      </div>
    <% end %>
  </a>
<% end %>

<div class="card text-white bg-dark bg-gradient mb-3">
  <div class="card-header text-center">
  	Add Activity
  </div>
  <div class="card-body form-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>