<%= month_calendar events: @activities do |date, activities| %>
  <a href=<%= day_view_path(:start_date => date) %> >
    <div class="badge mb-1">
      <%= date.strftime("%d") %>
    </div>
    <ul class="list-group">
      <% activities.each do |activity| %>
        <li class="list-group-item">
          <%= activity.title %>
        </li>
      <% end %>
    </ul>
  </a>
<% end %>

<div class="card bg-light mb-3">
  <div class="card-header text-center">
  	New Activity
  </div>
  <div class="card-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>