<% def isToday(dateToCheck) %>
  <% return dateToCheck == Date.current %>
<% end %>

<%= month_calendar events: @activities do |date, activities| %>
  <a href=<%= day_view_path(:start_date => date) %> >
    <div class="date-color fw-bold fs-6 badge">
      <%= date.strftime("%d") %>
    </div>
    <ul class="list-group list-group-flush">
      <% activities.each do |activity| %>
        <li class="list-group-item">
          <%= activity.title %>
        </li>
      <% end %>
    </ul>
  </a>
<% end %>

<div class="card bg-light mb-3">
  <div class="card-header text-center">
  	New Activity
  </div>
  <div class="card-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>