<div class="card w-100 mt-5 mb-5 mx-auto text-white bg-dark bg-gradient">
  <div class="card-header fs-2 fw-bold py-2 text-center">
  	<%= @activity.title %>
  </div>
  <div class="card-body form-body">
    <div class="ms-2 mb-5 text-center">
	    <%= link_to edit_activity_path(@activity), class: "btn btn-primary me-1 border-dark" do %>
        <i class="bi bi-pencil fs-5"></i>
      <% end %>
	    <%= link_to activity_path(@activity), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger ms-1 border-dark' do %>
        <i class="bi bi-trash fs-5"></i>
      <% end %>
	  </div>
    <%# Check if there are any notes %>
    <% if @activity.notes.empty? %>
      <%# If the notes array is empty, make user aware with a card %>
      <div class="card w-75 mx-auto mb-5 text-dark bg-light">
        <div class="card-header text-center">
          <p class="card-text">No notes...</p>
        </div>
      </div>
    <% else %>
      <%# Otherwise, list all notes as clickable links %>
      <%= render @activity.notes %>
    <% end %>
  </div>
</div>

<%# New note form rendered in a card %>
<div class="card w-100 mx-auto mt-5 mb-3 text-white bg-dark bg-gradient">
  <div class="card-header">
    <p class="card-text text-center fs-5 fw-bold">Add note</p>
  </div>
  <div class="card-body form-body">
    <%= render "notes/form", note: Note.new %>
  </div>
</div>