<%# Disable turbolinks for this page %>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<div class="card bg-dark bg-gradient text-white mt-2 mb-3">
  <div class="card-body text-center">
    <%= form_tag root_path, method: :get do %>
      <%= label_tag :start_date, "Go to the week of: ", class: "align-middle fs-5" %>
	    <%= date_field_tag :start_date, :start_date, class: "align-middle fs-5" %>
	    <%= button_tag(type: "submit", class: "btn btn-info") do %>
        <i class="bi bi-search"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= week_calendar events: @activities do |date, activities| %>
  <%= link_to day_view_path(:start_date => date), {class: "btn btn-secondary mb-2", style: "height: 2.5em;"} do %>
    <b><%= date.strftime("%m/%d") %></b>
  <% end %>
  <% (0..6).each do |currBlock| %>
    <% @filtered = activities.select{|a| a.block == currBlock} %>
    <% @collapseID = "blockID" + ActivityHelper::BLOCKS[currBlock].to_s.sub(/:/, '_') + date.to_s %>
    <% unless @filtered.empty? %>
      <div class="list-group mb-2">
        <a href="#<%= @collapseID %>" data-bs-toggle="collapse" class="list-group-item list-group-item-active block-header text-center border-dark <%= ActivityHelper::GETBLOCKCLASS[currBlock] %>" aria-expanded="true" aria-controls="<%= @collapseID %>">
          <%= ActivityHelper::BLOCKS[currBlock] %>
        </a>
        <div id="<%= @collapseID %>" class="collapse show">
          <% @filtered.each do |activity| %>
            <%= link_to activity.title.truncate(16), activity, class: "list-group-item list-group-item-action list-group-item-secondary block-item border-dark" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="card mb-3 text-white bg-dark bg-gradient">
  <div class="card-header text-center">
  	Add Activity
  </div>
  <div class="card-body form-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>