<div class="card bg-light mt-2 mb-3">
  <div class="card-body">
    <%= form_tag root_path, method: :get do %>
      <%= label_tag :start_date, "Go to the week of: " %>
	    <%= date_field_tag :start_date, :start_date %>
	    <%= submit_tag "Find" %>
    <% end %>
  </div>
</div>

<%= week_calendar events: @activities do |date, activities| %>
  <b><%= date.to_formatted_s(:short) %></b>
  <% ActivityHelper::BLOCKS.each do |currBlock| %>
    <% @filtered = activities.select{|a| a.block.to_s == currBlock.to_s} %>
    <% unless @filtered.empty? %>
      <div>
        <%= currBlock.to_s + ":" %>
      </div>
      <% @filtered.each do |activity| %>
        <div>
          <%= link_to activity.title, activity %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="card bg-light mb-3">
  <div class="card-header text-center">
  	New Activity
  </div>
  <div class="card-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>